{
  "extends": "eslint-config-airbnb/base",
  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": ["Map"]
    }],
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
